{% extends 'base.html' %}

{% block title %}Leave Request{% endblock %}

{% block content %}

<div class="page-header">
	<div class="topnav">
    <div class="topnav-right">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'logout'  %}">Log out ({{ user }})</a>
    </div>
  </div>
<h2>Leave Request Form</h2>
</div>

	{% if is_emp_mapped != False or user.emp_type == 'Manager' %}
	<form name='leaveform' onsubmit="return LeaveRequest()" method='POST'>
        <div class="form-group">
		{% csrf_token %}
            <p>LeaveType:<select name='LeaveType'>
			<option>Privilege</option>
			<option>Sick</option>
			<option>Loss of Pay</option>
		</select></p>
		<p>From:<input type="date" name="From"></p>
             <p>Fromsession:<select name='Fromsession'>
			<option>Session1</option>
			<option>Session2</option>
		</select></p>
		<p>To:<input type="date" name="To"></p>
           <p>To Session:<select name='Tosession'>
			<option>Session2</option>
			<option>Session1</option>
		</select></p>
            {#  <p>Days:<input type='number' name="Days">#}
		    <p>Reason:<input type='text' name='Reason'></p>
            <p>ApplyTo:<select name='ApplyTo'>
			<option>Manager</option>
			<option>Hr</option>
			<option>Admin</option>
		</select></p>
            <p>Contact Details:<input type='text' name="Contact">
            <p>CC To:<input type="text" name="Ccto"</p>
            <p>Attachment:<input type="file" name="Attachments"</p><br><br>
		<input type='submit' value="Apply"/>
		<input type="reset" value="Reset"/>
    </p>
	</form>
	{% else %}
		<h4>Manager not assigned</h4>
	{% endif %}

<script> 
function LeaveRequest()                                    
{ 
    var today = new Date();
    var From = document.forms["leaveform"]["From"];
    var msec = Date.parse(From.value);
    var FromDate = new Date(msec);             
    var To = document.forms["leaveform"]["To"];    
    var Reason = document.forms["leaveform"]["Reason"];  
    if (From.value == "" )                                  
    { 
        alert("Enter a valid date"); 
        From.focus(); 
        return false; 
    } 
    if (FromDate < today )                                  
    { 
        window.alert("Enter a valid date"); 
        From.focus();
        return false; 
    } 
    if (To.value == "" )                                  
    { 
        window.alert("Enter a valid date"); 
        To.focus(); 
        return false; 
    } 
    
    if (To.value < From.value)
    {
        window.alert('Enter a valid date');
        To.focus();
        return false;
    }
    if (Reason.value == "")                        
    { 
        window.alert("Enter a valid reason"); 
        Reason.focus(); 
        return false; 
    } 
   
    return true; 
}
</script> 



{% endblock %}
